body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.zf-green {
  color: #68b604;
}

.btn-success {
  background-color: #57a900;
  @include gradient-vertical(#70d900, #57a900);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

a.navbar-brand {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    left: 0;
    top: 16px;
    content: '';
    display: inline-block;
    @include site-sprite(zf2-logo, true);
  }
}
